<html>
    <head>
        <title>ABOUT US</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <style>
            div {
                background-color: aqua;
            }
            p {
                background-color: beige;
            }

        </style>
        <img src="med2.jpg" alt="us" height="80%">
        <div>
            <h1>WHO ARE WE?</h1>
        </div>
        <p>ADNET CARE is available every day and every time to serve you.
            We are very secure and concern when handeling your problems and diffiiculties because we know how health is precious.
            With us your are secured because our doctors are very skilled and professionally trained.
            We walk together as a big and united family  </p>
            <div>
                <h1>WHAT IS OUR MISSION?</h1>
            </div>
            <P>ADNET CARE'S mission is to ensure that your should
                be treared with alot of love and respect.And also that
                you should be satisfield at tthe end because your satisfaction
                is our main priority.
            </P>
    </body>
</html>