<html>
    <head>
        <title>Patient</title>
    </head>
    <body>
        <style>
            body{
                background-color: beige;
            
            }
            .grid-container {
                display: grid;
                grid: 50px;
                grid-template-columns: auto auto auto;
                padding: 10px;
            }
            .grid-item {
                text-align: center;
                border: 1px;
                padding: 20px;
            }
        </style>
        <center>
           <h1> WELCOME TO ADNET CARE. 
            A RECOMMENDE, SECURE AND FAST ONLINE CONSULTATION PLATFORM</h1>
            <br>
            <h3>Which specialist do you want to consult you?</h3>
            <br>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="car.jpg" alt="Cardiologist">
                    <p><a href="/Cardiologist">Cardiologist</a></p>
                </div><br>
                <div class="grid-item">
                    <img src="der.jpg" alt="Dermatologist">
                    <p><a href="/Dermatologist">Dermatologist</a></p>
                </div> <br>
                <div class="grid-item">
                    <img src="oph.jpg" alt="Ophtamologist">
                    <p><a href="/Ophtamologist">Ophtamologist</a></p>
                </div>  <br>
                <div class="grid-item">
                    <img src="den.jpg" alt="Dentist">
                    <p><a href="/Dentist">Dentist</a></p>
                </div>  <br>
                <div class="grid-item">
                    <img src="rhu.jpg" alt="Rhumatologist">
                    <p><a href="/Rhumatologist">Rhumatologist</a></p>
                </div>  <br>        
                    <div class="grid-item">
                        <img src="gmd.jpg" alt="General practitioner">
                        <p><a href="/General">General practitioner</a> </p>
                    </div>
                    <div class="grid-item">
                        <img src="gyn.jpg" alt="Gynecologist">
                        <p><a href="/Gynecologist">Gynecologis</a></p>
                    </div>
                    <div class="grid-item">
                        <img src="kth.jpg" alt="Physiotherapist">
                        <p><a href="/Physiotherapist"> Physiotherapist</a></p>
                    </div>
                    <div class="grid-item">
                        <img src="ped.jpg" alt="Pediatrician">
                        <p><a href="Physiotherapist">Pediatrician</a></p>
                    </div> <br>
            </div>>        
                    <p><a href=#>MORE +</a></p>
        </center>
    </body>
</html>