<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>
    <style>
        body {
            background-image: url('med5.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <img src="adnet1.png" width="31" height="25" alt="Logo" />
    </div>
    <nav>
      <ul class="menu">
        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link">About</a></li>
        <li class="menu__item"><a href="#" class="menu__link menu__link_active">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section class="contacts">
    <div class="container">
      <div class="contacts__columns">
        <section class="cotacts__info">
          <h1>Contact Info:</h1>
          <p>ADNET CARE is available every day and every time to serve you.
            We are very secure and concern when handeling your problems and diffiiculties because we know how health is precious.
            With us your are secured because our doctors are very skilled and professionally trained.
            We walk together as a big and united family  </p>
          <div class="cotacts__meta-info">
            <p><b>Phone:</b>  +237 672585016</p>
            <p><b>Email:</b>  wolloflekid@gmail.come</p>
            <p><b>Fax:</b> +237 672585016 </p>
          </div>
        </section>
        <section class="cotacts__form form">
          <form action="/" method="post">
            <div class="form__columns">
              <div class="form__column-half">
                <div class="form__control">
                  <input type="text" name="first_name" placeholder="Your Name">
                </div>
              </div><br>

              <div class="form__column-half">
                <div class="form__control">
                  <input type="email" name="email" placeholder="Your Email">
                </div>
              </div>
            </div><br>

            <div class="form__control">
              <input type="text" name="title" placeholder="Your Title">
            </div>

            <div class="form__control">
              <textarea>Your Comment</textarea>
            </div><br>

            <button type="submit" class="button">Send message</button>
          </form>
        </section>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer__columns container">
    <div class="footer__column-copyright">
      <div class="footer__company">ADNET CARE.</div>
  </div>

    <div class="footer__column-contacts">wolloflekid@gmail.com  +237 672585016</div>
    <div class="footer__links">
      <ul class="footer__links-list">
        <li><a href="#" class="footer__link">Activities</a></li>
        <li><a href="#" class="footer__link">About</a></li>
        <li><a href="#" class="footer__link">Services</a></li>
        <li><a href="#" class="footer__link">Carreer</a></li>
      </ul>
    </div>



    <div class="footer__column-social">
      <ul class="footer__links-list">
        <li><a href="#" class="footer__link">Facebook</a></li>
        <li><a href="#" class="footer__link">Twitter</a></li>
        <li><a href="#" class="footer__link">Instagram</a></li>
      </ul>
    </div>
  </div>

</footer>

</body>
</html>
