<html>
    <head>
        <title>ADNET CARE</title>
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            body {
                background-image: url("doc.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            .bo{
                margin-left: 300px;
                margin-top: 200px;
            }
            .ba{
                margin-left: 450px;
                margin-top: 76px;
            }
            ul{
                list-style-type: none;
            
            }
            li {
                display: inline;
                
            }
            
        </style>
    </head>
    <body>
        <ul>
            <li><a href="#" class="w3-bar-item w3-button w3-green">HOME</a></li>
            <li><a href="/consult" class="w3-bar-item w3-button">CONSULT</a></li>
            <li><a href="#" class="w3-bar-item w3-button">SHARE</a></li>
            <li><a href="/about" class="w3-bar-item w3-button">ABOUT US</a></li>
            <li><a href="#" class="w3-bar-item w3-button">NEWS</a></li>
            <li><a href="/contact" class="w3-bar-item w3-button">CONTACT</a></li>
            <li><a href="/login" class="w3-bar-item w3-button">LOG IN</a>
        </ul>
       
        <div class="bo"><h1> <strong> ADNET CARE. LIVE A HEALTHY LIFE </strong></h1>
            <p><i> We care about you because your health is our priority </i></p>
        </div>
        <div class="ba">    
            <button class="w3-button w3-round w3-green" ><a href="/doctor">DOCTOR</a></button>
            <button class="w3-button w3-round w3-green"><a href="/patient">PATIENT</a></button>
        </div>
        
    </body>
</html>