<!DOCTYPE html>
<html>
    <head>
        <title>PATIENT</title>
   
<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="bg">
        <style>
            body{
                background-image: url("med3.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-4 col-sm-4 xl-12"></div>
                <div class="col-md-4 col-sm-4 xl-12">
                    <form class="form-container">
                        <div class="form-group">
                            <label class=" container text-black text-center head" ><h1>WELCOME TO ADNET CARE</h1></label>
                            <h3>PATIENT REGISTRATION FORM</h3>
                            
                        </div>
                        <P>Hello it's a pleasure for us to take care of you
                            please fill in the form to register
                        </P><br>
                        <div class="form-group">
                            <span class=" text-white  " >Name</span>
                        </span><input type="text" class="form-control "
                             id="" placeholder="Name"></span>
                        </div><br>
                        <div class="form-group">
                            <span class=" text-white  " >Email id</span>
                            <input type="text" class="form-control "
                             id="" placeholder="Email id">
                        </div><br>
                        <div class="form-group">
                            <span class=" text-white  " >DOB</span>
                            <input type="text" class="form-control "
                             id="" placeholder="DOB">
                        </div><br>
                        <div class="form-group">
                            <span class=" text-white  " >Health problems</span>
                            <input type="text" class="form-control "
                             id="" placeholder="Qualification">
                        </div><br>
                        <div class="form-group">
                            <span class=" text-white  " >What do You like</span>
                            <input type="text" class="form-control "
                             id="" placeholder="Objective">
                        </div><br>
                        <div class="form-group">
                            <span class=" text-white  " >Address</span>
                            <input type="text" class="form-control "
                             id="" placeholder="Office Address">
                        </div>br
                        <div class="form-group">
                            <span class=" text-white  " >Previous hospitals</span>
                            <input type="text" class="form-control "
                              placeholder="Name">
                        </div><br>
                        
                        <div class="form-group">
                            <span class=" text-white  ">Add an image or booklet to you profile</span>
                            <input type="file" accept="image/*" >
                        </div><br>

                        
                        <button type="submit" class="btn btn-default bg-success btn-block">Submit</button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 xl-12"></div>
            </div>
        </div>
    </body>

</html>